{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "src": "./src"
      }
    }],
    ["transform-define", "./env-config.js"],
    ["import", {
      "libraryName": "antd"
    }],
    [
      "inline-import",
      {
        "extensions": [".css", ".scss", ".png", ".jpg"]
      }
    ],
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ]
  ]
}
