{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "standard"
  ],
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "strict": [
      1,
      "never"
    ],
    "generator-star-spacing": [2,
      {
        "before": false,
        "after": true
      }
    ],
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [
          ">",
          "}"
        ]
      }
    ],
    "react/jsx-key": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/prop-types": 0,
    "no-console": 1,
    "no-extra-semi": 0,
    "semi": 0,
    "comma-dangle": 0,
    "spaced-comment": 0,
    "no-multiple-empty-lines": 1,
    "keyword-spacing": 0,
    "space-before-function-paren": 0,
    "brace-style": 1,
    "no-new": 1,
    "no-tabs": 0,
    "react/display-name": 0,
    "no-mixed-spaces-and-tabs": 0
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "fetch": true,
    "XMLHttpRequest": true,
    "React": true
  },
  "settings": {
    "react": {
      "version": "16.2.0"
    }
  }
}