@import './styleTools.scss';
@import './fixed/fixed.scss';
@import './sections/promoAstrip.scss';
@import './sections/First.scss';
@import './sections/Second.scss';
@import './sections/Third.scss';
@import './sections/Forth.scss';
@import './sections/Fifth.scss';
@import './sections/Sixth.scss';
@import './sections/Seventh.scss';
@import './sections/joinUs.scss';
body {
    line-height: 17px;
    color: $mainTextBright;
}

////////////////////
// Page scroll
///////////////////
/* width */

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/////////////////
// main container
/////////////////
.main-container {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
}

