@import './styleTools.scss';
@import './fixed/fixed.scss';
@import './sections/promoAstrip.scss';
@import './sections/shared.scss';
@import './sections/First.scss';
@import './sections/Second.scss';
@import './sections/Third.scss';
body {
    line-height: 17px;
    color: $mainTextBright;
}

////////////////////
// Page scroll
///////////////////
/* width */

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

// .container-parallax > div > div  {
//     @include flex-column(flex-start);
//     transition: transform;
//     // transition:  .3s ease-in;
// }