@import './styleTools.scss';
@import './fixed/navbar.scss';
@import './sections/promoAstrip.scss';
@import './sections/First.scss';
@import './sections/Second.scss';
@import './sections/ThirdAForth.scss';
@import './sections/Fifth.scss';
@import './sections/Sixth.scss';
@import './sections/Seventh.scss';
@import './sections/joinUs.scss';
body {
  line-height: 17px;
  color: $mainTextBright;
  overflow: hidden;
}

////////////////////
// Page scroll
///////////////////
/* width */

.container-parallax {
  overflow: hidden;
}

/////////////////
// main container
/////////////////
.main-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

//////////////////////
// bullets & labels
//////////////////////

  .bulletsMain {
    position: absolute;
    height: 100%;
    overflow: hidden;
    @include flex-column(center, flex-end);
    right: 50px;
    list-style-type: none;
    z-index: 20;
    li {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 1px solid $textBlue;
      margin: 10px;
      cursor: pointer;
      &[data-invers='true'] {
        border: 1px solid white;
      }
      &[data-fillinvers='true'] {
        background: white;
      }
      &[data-fill='true'] {
        background: $textBlue;
      }
    }
  }


.popover-bullet {
  z-index: 1111111;
  right: 7em !important;
  max-width: 120px;
  text-align: center;
  border: none;
  color: black;
  .arrow {
    border-left: white;
  }
  &[data-invers='false'] {
    color: white;
    background: $pageLabel;
    .arrow:after {
      border-left-color: $pageLabel !important;
    }
  }
}

.pageLabel {
  background: $pageLabel;
  color: $mainTextBright;
}

.pageLabelInverse {
  background: $mainTextBright;
  color: $pageLabel;
}

.observer-con {
  height: 100%;
  z-index: 0;
}
.observer-con-child {
  height: 100%;
  z-index: 0;

}

.traderColor {
  color: $TraderRegistration;
}
.textBlue {
  color: $textBlue;
}


.test1, .test2 {
  height: 100px;
  width: 100px;;
}
#testParallax {
  width: 100%;
}
.test1 {background:green;}
.test2 {background:red;}