// @import './fonts/fonts.scss';
//App
//////////////////////
// general app colors
//////////////////////
$mainText: white;
$mainBtn:#0f64f2;
$mainHeader: #36404b;
$headerText: #7b7d82;
$positiveMoney:#6ae1af;
$mainHighlight:#0a5ff2;
$subHighlight:#86baff;
$alerts:#ee6f7d;
$TraderRegistration :#13379c;
///////////////////////
// page indicator (bullets on right side of page)
/////////////////////
$bullets:#1e5bff;
$pageLabel: #7fb4ff;
///////////////////
// diagram colors
//////////////////
$diagPos:#2cce9f;
$diagNeg: #ee6f7d;
//////////////
// responsive
//////////////
/////////////////
// Mixins
/////////////////
@mixin flex-row($justify:flex-start, $alignItems: flex-start) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $alignItems;
}

@mixin flex-column($justify:flex-start, $alignItems: flex-start) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $alignItems;
}

// lanscape phone
@mixin xs {
    @media (min-width: 576px) {
        @content;
    }
}

// tablets
@mixin sm {
    @media (min-width: 768px) {
        @content;
    }
}

// small desktop laptops
@mixin lg {
    @media (min-width: 992px) {
        @content;
    }
}

// wide screens
@mixin laptop {
    @media (min-width: 1200px) {
        @content;
    }
}

// medium desktop laptops
@mixin xl {
    @media (min-width: 1600px) {
        @content;
    }
}

///////////////
// common Classes
/////////////////
.bigText {
    font: {
        size: 40px;
    }
    line-height: 20px;
    @include sm {
        font: {
            size: 60px;
        }
        line-height: 60px;
    }
}

//////////////////
// selectors
/////////////////
%btn-base {
    // padding-left:26px;
    // padding-right:26px;
    border-radius: 23px;
    outline: none;
    border: none;
    font: {
        size: 16px;
        weight: bold;
        style: normal;
        stretch: normal;
    }
}

%Lato {
    font-family: Lato-regular, sans-serif;
}

%Lato-Bold {
    font-family: Lato-Bold, sans-serif;
}

%Raleway {
    font-family: Raleway-Regular, sans-serif;
}

%Raleway-Bold {
    font-family: Raleway-Bold, sans-serif;
}

//////////////////
// common classes
/////////////////
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.3);
}

.invisible {
    transition: .5s ease-in;
    opacity: 0; // visibility: hidden;
}