///////////////////
// section 1 MarketRevolution
//////////////////
.MarketRevolution {
  z-index: 1;
  position: relative;
  height: 500px;
  max-width: 75vw;
  @include sm {
    height: 640px;
    max-width: 580px;
  }
  @include lg {
    height: 920px;
  }
  @include flex-column(center, flex-start);
  header {
    @extend %header;
  }
  p {
    @extend %text;
  }
  button {
    @extend %btn-big;
    &:hover {
      @extend %btn-invers;
    }
  }
  div {
    margin-top: 20px;
    @extend %Roboto-Bold;
  }
}

///////////////////
// section 2 WhatsSalmon
//////////////////

.WhatsSalmon {
  width: 100%;
  @include grid(1em, initial, start, auto, auto auto, '...' 'coins');
  @include sm {
    @include grid(1em, initial, start, 50% 50%, auto, 'coins ...');
  }
  .coins {
    grid-area: coins;
    position: relative;
    @include flex-row(center);
    img {
      object-fit: contain;
      width: 300px;
      margin: auto;

      @include sm {
        position: absolute;
        top: -60px;
        margin: 0;
        width: 100%;
      }
      @include lg {
        left: -60px;
      }
    }
    .overlay {
      position: absolute;
      width: 300px;
      @include sm {
        width: 100%;
      }
      @include flex-row();
      @extend %robotoBlack-text;
      .light {
        @extend %text;
      }

      .bitCoin {
        position: relative;
        left: 50px;
        top: 80px;
        p {
          position: relative;
          top: 140px;
          left: -5px;
        }
        @include sm {
          left: 60px;
          top: 45px;
          p {
            position: relative;
            top: 160px;
            left: -5px;
          }
        }
        @include md {
          left: 80px;
          top: 90px;
          p {
            position: relative;
            top: 200px;
            left: -15px;
          }
        }
        @include lg {
          left: 30px;
          top: 110px;
          p {
            position: relative;
            top: 290px;
            left: -15px;
          }
        }
      }
      .salmonCoin {
        position: relative;
        left: 140px;
        top: 40px;
        p {
          position: relative;
          top: 140px;
          left: -15px;
        }
        @include sm {
          left: 190px;
          top: 0;
          p {
            position: relative;
            top: 160px;
            left: -15px;
          }
        }
        @include md {
          left: 250px;
          top: 20px;
          p {
            position: relative;
            top: 210px;
            left: -15px;
          }
        }
        @include lg {
          left: 270px;
          top: 55px;
          p {
            position: relative;
            top: 270px;
            left: -15px;
          }
        }
      }
    }
  }
  .text {
    header {
      @include flex-column();
      @include sm {
        @include flex-column(flex-start, flex-start);
      }
      h2 {
        @extend %subHeader;
      }
      h1 {
        @extend %header;
      }
    }
    p {
      max-width: 90%;

      @extend %text;
    }
    button {
      margin-top: 1em;
      @extend %btnSmall;
      @extend %btn-invers;
      &:hover {
        @extend %btn-uninvers;
      }
    }
  }
}

///////////////////
// section 3 How it works
//////////////////

.HowItWorks {
  margin-top: 70px;
  // @include sm {
  //   margin-top: 70px;
  // }
  @include lg {
    margin-top: 190px;
  }
  @include xl {
    margin-top: 100px;
  }
  border-top: 1px solid $topBorder;

  .sectionA {
    padding: 75px 0;
    @include grid(1em, space-between, start, auto, auto auto);
    @include sm {
      @include grid(1em, space-between, start, 50% 45%, auto);
    }
    header {
      @include flex-column();
      @extend %subHeader;
      button {
        @extend %btnSmall;
        @extend %btn-invers;
        margin-top: 2em;
        &:hover {
          @extend %btn-uninvers;
        }
      }
    }
    > p {
      @extend %text;
    }
  }
  .sectionB {
    @include grid(1em, center, initial, minmax(auto, 80%), '...');
    @include sm {
      @include grid(1em, space-between, initial, 30% 30% 30%, auto);
    }
    .block {
      width: 100%;
      background: #fff;
      @include flex-column();
      padding: 2em;
      border-radius: 15px;
      > section {
        width: 100%;
      }
      .blockHeader {
        @include flex-row(space-between);
        :nth-child(1) {
          @extend %subHeader;
          margin-bottom: 1em;
        }
        :nth-child(2) {
          @extend %text;
        }
      }
      p {
        @extend %text;
      }
      .blockCoinSection {
        @include flex-row(space-between);
        > div {
          margin-right: 1em;
          .blockPriceBlack {
            @extend %robotoBlack-text;
            padding-bottom: 1em;
            @include flex-row(safe);
            .infoIcon {
              margin-left: 0.5em;
              height: 16px;
              height: 100%;
              cursor: pointer;
            }
          }
          .Blockcoin {
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}

///////////////////
// section 4 why salmon
//////////////////

.WhySalmon {
  margin-top: 6em;
  header {
    margin-bottom: 3em;
    text-align: center;
    h2 {
      @extend %subHeader;
    }
    h1 {
      @extend %header;
    }
  }
  p {
    @extend %text;
  }
  h3 {
    margin-top: 3em;
    @extend %salmonHeader;
  }
  img {
    position: relative;
    width: 100%;
    top: -20px;
    margin-bottom: 20px;
  }
  .border {
    margin-top: 4em;
    height: 1px;
    width: 100%;
    background: $topBorder;
  }
}

///////////////////
// section 5 our vision
//////////////////

.OurVision {
  margin-top: 5em;
  @include grid(1em, space-between, initial, auto, auto auto);
  @include sm {
    @include grid(3em, space-between, initial, 50% 50%, auto);
  }
  .OurVisionSectionA {
    @include flex-column(flex-start, center);
    h2 {
      @extend %subHeader;
    }
    img {
      object-fit: contain;
      width: 50%;
    }
    button {
      margin-top: 2em;
      @extend %btnSmall;
      background: #71cde1;
      border: none;
    }
  }
  .OurVisionSectionB {
    padding-top: 2em;
    > div {
      width: 66px;
      height: 5px;
      background: $salmonRed;
    }
    h3 {
      @extend %salmonHeader;
      margin-bottom: 1em;
    }
    p {
      @extend %text;
    }
  }
}

///////////////////////////
// section 5 meet our team
///////////////////////////

.MeetOurTeam {
  border-top: 1px solid $topBorder;
  margin-top: 7em;
  padding-top: 5em;
  h1 {
    @extend %subHeader;
    text-align: center;
    margin-bottom: 2em;
  }
  .teamProfiles {
    @include grid(3em, initial, initial, auto, auto auto auto);
    @include sm {
      @include grid(3em, space-between, initial, auto auto auto, auto);
    }
  }
  .profileBlock {
    h3,
    h4 {
      text-align: center;
    }
    h3 {
      @extend %robotoBlack-text;
    }
    h4 {
      @extend %Roboto-Bold;
      color: $salmonRed;
    }
    p {
      @extend %text;
      border-top: 1px solid $topBorder;
      padding-top: 2em;
      margin-top: 2em;
    }
    .profilePicOuter {
      position: relative;
      @include flex-row(center, center);
      // margin-bottom: 8em;
      .dotted {
        position: absolute;
      }
      .float-hexagon {
        position: relative;
        z-index: 1;
        height: 125px;
        width: 140px;
      }
    }
  }
}

///////////////////////////
// section 6 InvestrosProtection
///////////////////////////
.InvestrosProtection {
  margin-top: 5em;
  @include grid(1em, initial, initial, auto, auto);
  .investrosProtection-sectionA {
    @include grid(1em, initial, initial, auto, auto);
    @include sm {
      @include grid(1em, space-between, initial, 40% 50%, auto);
    }
    div {
      h1 {
        @extend %header;
      }
      h3 {
        @extend %salmonHeader;
        margin: 2em 0;
      }
    }
    img {
      width: 100%;
    }
  }
  p {
    @extend %text;
  }
  .investrosProtection-sectionB {
    @include grid(1em, initial, initial, auto, auto);
    @include sm {
      @include grid(1em, space-between, initial, 40% 50%, auto);
    }
    > img {
      object-fit: contain;
      width: 100%;
      padding: 3em 0;
    }
    .money-tickets {
      padding: 3em 0;
      @include grid(3em, initial, initial, auto auto, auto auto);
      > section {
        border-radius: 13px;
        background: #fff;
        box-shadow: 0 0 114px 3px rgba(0, 0, 0, 0.1);
        padding: 1em;
        > header {
          @include flex-row(space-between, center);
          border-bottom: 1px solid $topBorder;
          > h3 {
            @extend %Roboto-Black;
            font-size: 36px;
            color: $salmonRed;
          }
          > img {
            width: 30px;
            object-fit: contain;
          }
        }
        > div {
          p {
            padding-top: 0.5em;
          }
          div {
            @extend %robotoBlack-text;
          }
        }
      }
    }
  }
}

///////////////////////////
// section 6 TokenSale   //
//////////////////////////

.TokenSale {
  margin-top: 8em;
  > section {
    @include grid(1em, space-between, initial, auto, auto);
    @include sm {
      @include grid(1em, space-between, initial, auto 50%, auto);
    }
    margin-bottom: 3em;
    .line {
      height: 5px;
      width: 66px;
      background: $salmonRed;
    }
    h2 {
      @extend %subHeader;
    }
    p {
      @extend %text;
    }
  }
  .timeline-mainCon {
    @include flex-column(flex-start, center);
    @include sm {
      @include flex-row();
    }
  }
  .tokenSale-timeline {
    @include flex-row(space-between);
    height: 25%;
    width: 60%;
    @include sm {
      width: 25%;
      @include flex-column();
    }
    .timeline-year {
      @extend %Roboto-Black;
      padding-bottom: 2em;
    }
    .timeline-holder {
      @include flex-column(center, center);
      height: 190px;
      // width: 240px;
      @include sm {
        height: 0;
        width: 100%;
        @include flex-row(center, center);
      }
      .Timeline-bullet-out {
        border: 1px solid $salmonRed;
        width: 23px;
        height: 26px;
        @include sm {
          width: 26px;
          height: 23px;
        }
        border-radius: 100%;
        @include flex-column(center, center);
      }
      .Timeline-bullet-inner {
        background: $salmonRed;
        width: 13px;
        height: 13px;
        border-radius: 50%;
      }
      .dotted-border {
        height: 100%;
        border-left: 1px dashed $salmonRed;
        @include sm {
          width: 100%;
          border-top: 1px dashed $salmonRed;
        }
      }
    }

    .Timeline-text {
      max-width: 60%;
      @include sm {
        max-width: 80%;
      }
      h3 {
        @extend %salmonHeader;
        font-size: 25px;
        margin-top: 0;
        @include sm {
          margin-top: 1em;
        }
        @include md {
          font-size: 30px;
        }
      }
      h5 {
        @extend %Gilroy-ExtraBold;
        font-size: 16px;
        @include md {
          font-size: 20px;
        }
      }
      p {
        @extend %text;
        font-size: 14px;
        @include md {
          font-size: 18px;
        }
      }
    }
  }
}
