
/* Roboto*/
@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-ExtraBold;
    src: url("../fonts/Roboto-ExtraBold.ttf");
}
@font-face {
    font-family: Roboto-SemiBold;
    src: url("../fonts/Roboto-SemiBold.ttf");
}
@font-face {
    font-family: Roboto-Black;
    src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto-Medium.ttf");
}
/* gilroy */
@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("../fonts/Gilroy-ExtraBold.otf");
}
@font-face {
    font-family: Gilroy-Light;
    src: url("../fonts/Gilroy-Light.otf");
}

