#fifth-mainCon {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 90%;
  background-repeat: no-repeat;
  @include flex-column(flex-start, center);
  padding: 45px 1em 1em 1em;
  @include sm {
    padding-top: 185px;
  }
  @include md {
    padding-top: 80px;
  }
  > div {
    position: relative;
    max-width: 80%;
    @include flex-column();
    @include sm {
      @include flex-column(center, center);
    }
    @include smd {
      max-width: auto;
    }
    @include md {
      @include flex-column();
    }
    header h1 {
      @extend %Raleway-Bold;
      line-height: 1.29;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 52px;
      @include xs {
        font-size: 25px;
        margin-bottom: 40px;
      }
      @include sm {
        font-size: 32px;
        margin-bottom: 80px;
      }
      @include md {
        font-size: 42px;
        margin-bottom: 50px;
      }
      @include xl {
        margin-bottom: 102px;
        font-size: 42px;
      }
    }
    .miniHeader {
      line-height: 1.18;
      font-weight: 900; // margin-bottom: 10px;
      @extend %Raleway-Black;
      @include sm {
        font-size: 18px;
      }
      @include md {
        font-size: 18px;
      }
      @include xl {
        font-size: 22px;
      }
    }
    section {
      @include flex-row(space-between);
      p {
        @extend %Raleway;
        line-height: 1;
        margin-right: 16px;
        padding-top: 10px;
        font-size: 12px;
        @include xs {
          font-size: 15px;
        }
        @include sm {
          line-height: 1.27;
        }
        @include smd {
          font-size: 22px;
          line-height: 1.27;
        }

      }
      .finra {
        object-fit: contain;
        width: 108px;
        height: 59px;
        margin-right: 25px;
      }
      .security {
        width: 64px;
        height: 64px;
        object-fit: contain;
      }
    }
    // the div that holds all the content boxes
    .boxes {
      opacity: 0;
      width: 100%;
      min-width: 150px;
      flex-wrap: wrap;
      @include flex-row();
      @include sm {
        @include flex-row(space-around);
      }
      @include md {
        @include flex-row(space-between);
      }
      margin-top: 17px;
      .fifth-box {
        width: 19%;
        min-width: 150px;
        border-top: 1px solid #a0abcb;
        padding-top: 14px;
        margin-right: 5em;
        margin-bottom: 1em;
        @include md {
          margin-right: 3em;
        }

        @include flex-row();
        img {
          object-fit: contain;
          margin-right: 15px;
        }
        p {
          white-space: nowrap;
          line-height: 1.44;
          margin-bottom: 0;

          @extend %Lato-Medium;
          font-weight: 500;
          font-size: 10px;
          margin-right: 15px;
          @include sm {
            font-size: 12px;
          }
          @include xs {
            font-size: 15px;
          }
          @include md {
            font-size: 15px;
          }
          @include xl {
            font-size: 18px;
          }
        }
      }
      .resp-fifth-box .fifth-box {
        margin-top: 10px;
      }
    }
  }
}

////////////////////
// Animation
///////////////////
.fifth-header,
.fifth-sub-header,
.fifth-sub-header-icons {
  opacity: 0;
}

.animate-fifth-header {
  animation: fadeIn 1s ease 0.1s forwards;
}

.animate-fifth-sub-header {
  animation: fadeIn 1s ease 0.15s forwards;
}

.animate-boxes {
  animation: fadeIn 1s ease 0.2s forwards;
}
