// button on page
.startTrading {
    margin: 0 0 0 34px;
    background: transparent;
    border: 2px solid white;
    @extend %btn-base;
    width: 153px;
    height: 48px;
    margin: 1em;
    @include xs {
        width: 140px;
        height: 48px;
        margin-top: .3em;
    }
    @include sm {
        margin-top: .7em;
    }
}
#sectionFirstHeader {
    position: relative;
    ;
    padding-left: 3em;
    @include lg {
        padding-left: 200px;
    }
    @include xl {
        padding-left: 367px;
    }
    p>.firstSection-umami {
        font-size: 16px;
        @extend %Lato;
        font-weight: normal;
        line-height: 1.45;
        @include sm {
            font-size: 22px;
        }
    } // 'currency exchange'
    p:first-child {
        font-size: 16px;
        font-weight: 700;
        line-height: 2;
        @include xs {
            font-size: 12px;
        }
    }
    p>span {
        @extend %Raleway-Bold;
        font-weight: bold;
        line-height: 1.2;
    }
}

// // space from top
.firstSection-spaceDiv {
    height: 12vh;
    @include xs {
        height: 70px;
    }
    @include sm {
        height: 250px;
    }
    @include md {
        height: 150px;
    }
    @include xl {
        height: 350px;
    }
}