#forth-mainCon {
    @include flex-row(flex-start);
    img {
        object-fit: cover;
        object-position: 10% 35%;
        @include sm {
            width: 50vw;
            height: 100vh;
        }
        @include xl {
            width: 960px;
            height: 100vh;
        }
    }
    .text-mainCon {
        width: 100%;
        height: 100vh;
        @include flex-column(center, center);
        header {
            margin-bottom: 3em;
            h5 {
                line-height: 2;
                font-size: 16px;
                @extend %Lato-Black;
                color: $TraderRegistration;
                span {
                    @extend %Lato;
                }
            }
            h1 {
                @extend %Raleway-SemiBold;
                font: {
                    weight: 600;
                    size: 42px;
                }
                line-height: 1.29;
                color: $mainHeaderDark;
            }
        }
        .text-subCon {
            @include flex-column();
            >div {
                width: 120%;
                @include flex-row(space-between);
                .box {
                    width: 50%;
                    margin-bottom: 2em;
                    div {
                        float: left;
                        color: $textBlue;
                        @extend %Lato-Light;
                        line-height: 1;
                        padding-right: .5em;
                        font: {
                            weight: 300;
                        }
                        @include sm {
                            font-size: 50px;
                        }
                        @include xl {
                            font-size: 60px;
                        }
                    }
                    p {
                        font-size: 18px;
                        @extend %Lato;
                        color: #717378;
                        line-height: 1.44;
                        margin: 0;
                        @include sm {
                            font-size: 15px;
                        }
                        @include xl {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        button {
            @extend %btn-base;
            padding-top: 15px;
            padding-bottom: 15px;
            background: $TraderRegistration;
            border-style: none;
            margin-top: 30PX;
        }
    }
}