$slideHeight: 70%;
$inputTextColor: #dce1e8;
//////////////
// 2 buildings background
//////////////
.background-container-joinUs {
  height: $slideHeight;
  width: 100%;
  @include flex-column(flex-end);
  img {
    height: 90%;
    width: 100%;
    object-fit: contain;
    object-position: -50px 0;
  }
}

///////////////////
// blue background
///////////////////
.background-container-joinUs-layer {
  background: $textBlue;
  height: 100%;
}

//////////////
// main layer
//////////////
#joinUs-mainCon {
  height: $slideHeight;
  @include flex-row(center, flex-end);
  min-width: 80%;
  > div {
    min-height: 80%;
    width: 80%;
    @include md {
      width: 80%;
    }
    @include xl {
      width: 60%;
    }
    @include flex-column(space-between);
    section {
      @include flex-row(space-between, flex-end);
      @include sm {
        @include flex-row(center, flex-start);
      }
      @include md {
        @include flex-row(center, flex-start);
      }
      width: 100%;
      header {
        width: 100%;
        h5 {
          @extend %Lato-Black;
          font-size: 16px;
          font-weight: 900;
          line-height: 2;
          letter-spacing: 0.4px;
          margin: 0;
        }
        h1 {
          font-size: 12px;
          @extend %Raleway-Bold;
          font-weight: bold;
          line-height: 1.29;
          @include xs {
            font-size: 20px;
            margin-right: 1em;
          }
          @include sm {
            font-size: 42px;
            margin-right: 0;
          }
          @include md {
            font-size: 42px;
            margin-right: 0;
          }
        }
      }
      div {
        @include sm {
          width: 100%;
        }
        @include md {
          width: 100%;
        }
        @include lg {
          width: 100%;
        }
        .radios {
          @include flex-row();
          line-height: 0.9;
          font-size: 16px;
          @extend %Lato;
          width: 100%;
          white-space: nowrap;
          label {
            font-weight: 500;
            color: white;
            white-space: nowrap;
            input {
              opacity: 0;
            }
            cursor: pointer;
            .checkmark {
              height: 14px;
              width: 14px;
              background: transparent;
              border: 1px solid white;
              border-radius: 50%;
              @include flex-row(center, center);
              margin-right: 0.5em;
              .checkmark-bullet {
                background: white;
                width: 8px;
                height: 8px;
                border-radius: 50%;
              }
            }
            &[data-active='false'] {
              color: #7fb4ff;
              .checkmark {
                border: 1px solid #7fb4ff;
                .checkmark-bullet {
                  background: transparent;
                }
              }
            }
          }
          span {
            @extend %Lato-Black;
            margin-right: 15px;
          }
        }
      }
      form {
        > div {
          @include flex-row();
          #Iname,
          #Iemail,
          #Pname,
          #Pemail,
          #Pphone {
            &::placeholder {
              opacity: 1;
            }
          }
          button {
            @extend %btn-base;
            color: $textBlue;
            width: 30%;
            height: 38px;
            margin-top: 8px;
            font-size: 16px;
            @extend %Lato-Bold;
            background: white;
            margin-right: 1em;
            @include xs {
              margin-top: 0;
              width: 40%;
              height: 38px;
              font-size: 14px;
            }
            @include sm {
              margin-top: 8px;
              width: 100%;
              height: 48px;
            }
            @include md {
              margin-top: 8px;
              width: 100%;
              height: 48px;
            }
          }
        }
      }
    }
    footer {
      border-top: 1px solid white;
      @include flex-row(space-between, center);
      height: 30px;
      width: 100%;
      @include xs {
        margin-top: 0.4em;
        height: auto;
        padding: 0.5em;
      }
      @include md {
        height: 72px;
      }
      div {
        @include flex-row(center, center);
        img {
          width: 48px;
          height: 12px;
          object-fit: contain;
          margin-right: 24.5px;
          @include xs {
            width: 48px;
            height: 12px;
          }
          @include sm {
            width: 58px;
            height: 22px;
          }
        }
        p {
          @extend %Lato;
          font-size: 12px;
          line-height: 1;
          margin: 0;
          @include md {
            font-size: 14px;
            line-height: 1.79;
          }
        }
      }
      ul {
        list-style-type: none;
        @include flex-row(center, center);
        @extend %Lato-Bold;
        line-height: 1;
        margin: 0;
        white-space: nowrap;
        font-size: 12px;
        @include sm {
          font-size: 14px;
          line-height: 1;
        }
        li {
          margin-right: 38px;
        }
      }
    }
  }
}

/////////////////////
// INPUT
//////////////////////
.floatingLabel {
  margin: 0.7em 0.7em 0.7em 0;
  width: 100%;
  @include sm {
    margin: 2em 2em 2em 0;
    width: 100%;
  }
  @include md {
    margin: 2em 2em 2em 0;
    width: 100%;
  }
  .react-floating-label-input {
    width: 100%;
    white-space: nowrap;
  }
  .react-floating-label-input * {
    font-family: inherit;
  }
  .react-floating-label-input .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    @extend %Lato-Bold;
    height: 3em;
    border-bottom: 1px solid #ddd;
    width: 100%;
    @include sm {
      min-width: 170px;
    }
    @include md {
      min-width: 170px;
    }
  }
  .react-floating-label-input input,
  .react-floating-label-input label {
    padding: 0;
    margin: 0;
    border: 0;
  }
  .react-floating-label-input input {
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    @extend %Lato-Italic;
    line-height: 1.56;
  }
  .react-floating-label-input input::placeholder {
    color: $inputTextColor;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  .react-floating-label-input label {
    position: absolute;
    color: white;
    bottom: 12px;
    transition: all linear 0.2s;
    transform-origin: left top;
    font-size: 16px;
    cursor: text;
    pointer-events: none;
    width: 66.6%;
  }
  .react-floating-label-input.active input::placeholder {
    opacity: 1;
  }
}

/////////////////////
// SELECT
//////////////////////
.floatingSelect {
  margin: 0.7em 0.7em 0.7em 0;
  width: 100%;
  @include sm {
    margin: 2em 2em 2em 0;
    width: 100%;
  }
  @include md {
    margin: 2em 2em 2em 0;
    width: 100%;
  }
  .react-floating-label-select {
    width: 100%;
    white-space: nowrap;
  }
  .react-floating-label-select * {
    font-family: inherit;
  }
  .react-floating-label-select .container {
    display: flex;
    flex-direction: row;
    padding: 0;
    position: relative;
    @extend %Lato-Bold;
    height: 3em;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
  .react-floating-label-select select,
  .react-floating-label-select label {
    padding: 0;
    margin: 0;
    border: 0;
  }
  .react-floating-label-select select {
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    @extend %Lato-Italic;
    line-height: 1.56;
    width: 100%;
    cursor: pointer;
    -moz-appearance: none;
  }
  .react-floating-label-select option {
    color: $inputTextColor;
    background: #1e5bff;
    transition: 250ms ease;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    cursor: pointer;
  }
  .react-floating-label-select label {
    position: absolute;
    color: white;
    bottom: 12px;
    transition: all linear 0.2s;
    transform-origin: left top;
    font-size: 16px;
    cursor: text;
    pointer-events: none;
    width: 66.6%;
  }
  .react-floating-label-select.active select::placeholder {
    opacity: 1;
  }
}

.floatingSelect-inx {
  width: 100%;
  @include sm {
    width: 100%;
    .container {
      width: 100% !important;
    }
  }
  @include md {
    width: 100%;
    .container {
      width: 100% !important;
    }
  }
}
