.background-container-joinUs {
    height: 75%;
    object-fit: cover;
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
}

.background-container-joinUs-layer {
    background: $textBlue;
    height: 100%;
}

#joinUs-mainCon {
    height: 750px;
}