#seventh-mainCon {
    @include flex-column(flex-start, center);
    div {
        width: 100%;
        height: 100%;
        padding: 10px;
        @include flex-column(space-around);
        @include sm {
            @include flex-column();
            width: auto;
            padding: 0px;
        }
        header {
            margin-top: 40px;
            @include sm {
                margin-top: 120px;
            }
            @include md {
                margin-top: 90px;
            }
            @include xl {
                margin-top: 121px;
            }
            h5 {
                font-size: 12px;
                @extend %Lato-Black;
                font-weight: 900;
                line-height: 1;
                letter-spacing: 0.4px;
                color: $textBlue;
                margin: 0;
                @include xl {
                    font-size: 16px;
                    line-height: 2;
                }
            }
            h1 {
                @extend %Raleway-Bold;
                font-size: 18px;
                font-weight: bold;
                line-height: 1.28;
                color: $mainHeaderDark;
                margin-bottom: 0;
                @include sm {
                    font-size: 30px;
                    line-height: 1;
                }
                @include xl {
                    line-height: 1.29;
                    font-size: 42px;
                }
            }
        }
        .seventh-text {
            margin: 5px 0 5px 0;
            @extend %Lato;
            font-size: 8px;
            line-height: 1.67;
            color: $headerTextLessDark;
            @include sm {
                font-size: 14px;
                margin: 30px 0 60px 0;
            }
            @include xl {
                margin: 40px 0 60px 0;
                font-size: 18px;
            }
        }
        .seventh-card {
            height: 270px;
            width: 100%;
            overflow: auto;
            @include flex-row();
            box-shadow: 0 0 15px 1px rgb(202, 202, 202);
            @include sm {
                height: 270px;
                width: 700px;
            }
            @include lg {
                height: 200px;
                width: 860px;
            }
            @include xl {
                height: 321px;
                width: 1080px;
            }
            img {
                object-fit: cover;
                width: 45%;
                height: 100%;
            }
            section {
                overflow: auto;
                padding: 10px;
                @include sm {
                    padding: 15px;
                }
                header {
                    margin: 0 0 5px 0;
                    @include sm {
                        margin: 0 0 15px 0;
                    }
                    @include xl {
                        margin: 0 0 30px 0;
                    }
                    h4 {
                        margin: 0;
                        @extend %Raleway-Medium;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 1.20;
                        color: $mainHeaderDark;
                        span {
                            @extend %Raleway-ExtraBold;
                        }
                        @include sm {
                            font-size: 15px;
                            line-height: 2;
                        }
                        @include xl {
                            font-size: 26px;
                        }
                    }
                    h5 {
                        color: $textBlue;
                        font-size: 10px;
                        font-weight: 500;
                        @extend %Lato-Medium;
                        line-height: 1;
                        margin: 0;
                        @include sm {
                            font-size: 12px;
                        }
                        @include xl {
                            font-size: 20px;
                        }
                    }
                }
                p {
                    color: $headerTextLessDark;
                    line-height: 1.27;
                    margin-bottom: 5px;
                    font-size: 12px;
                    @include sm {
                        margin-bottom: 15px;
                        font-size: 14px;
                    }
                    @include xl {
                        margin-bottom: 30px;
                        line-height: 1.67;
                    }
                }
                button {
                    @extend %btn-base;
                    background: white;
                    border: 2px solid $textBlue;
                    color: $textBlue;
                    font-size: 10px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    @include sm {
                        font-size: 12px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    @include xl {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}