#seventh-mainCon {
  @include flex-column(flex-start, center);
  background: rgb(247, 247, 247);
  > #seventh-mainCon-scene {
    display: flex !important;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    @include flex-column();
    @media screen and (min-height: 700px) and (min-width: 400px) {
      @include flex-column(space-around);
    }
    @include sm {
      @include flex-column();
      width: auto;
      padding: 0px;
    }

    @include xs {
      @include flex-column(center, center);
      width: 100%;
      padding: 1em;
    }

    .seventh-background {
      width: 100%;
      height: 105%;
      object-fit: cover;
    }
    > div {
      z-index: 50;
      top: auto !important;
      left: auto !important;
      position: absolute;
      display: flex !important;
      @include flex-column(flex-start);
      @include xs {
        padding: 2em;;
      }
      @include smd {
        padding: 0em;;
      }
    }
  }
  header {
    margin-top: 40px;
    @include sm {
      margin-top: 0;
    }
    @include smd {
      margin-top: 120px;
    }
    @include md {
      margin-top: 40px;
    }

    h5 {
      font-size: 12px;
      @extend %Lato-Black;
      font-weight: 900;
      line-height: 1;
      letter-spacing: 0.4px;
      color: $textBlue;
      margin: 15px 15px 15px 0;
      @include xs {
        font-size: 18px;
        line-height: 2;
      }
      @include sm {
        font-size: 16px;
        line-height: 2;
      }
      @include md {
        font-size: 16px;
        line-height: 2;
      }
    }
    h1 {
      @extend %Raleway-Bold;
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
      color: $mainHeaderDark;
      margin-bottom: 10px;
      @include xs {
        font-size: 26px;
        line-height: 1;
      }
      @include sm {
        font-size: 30px;
        line-height: 1;
      }
      @include md {
        font-size: 30px;
        line-height: 1;
      }
      @include xl {
        line-height: 1.29;
        font-size: 42px;
      }
    }
  }
  .seventh-text {
    margin-bottom: 20px;
    @extend %Lato;
    font-size: 14px;
    line-height: 1;
    color: $headerTextLessDark;
    @include xs {
      font-size: 16px;
      margin: 5% 0 5% 0;
      line-height: 1.67;
    }
    @include sm {
      font-size: 14px;
      margin: 30px 0 60px 0;
    }
    @include md {
      font-size: 18px;
      margin: 25px 0 25px 0;
    }
    @include xl {
      margin: 40px 0 90px 0;
      font-size: 18px;
      line-height: 1.67;
    }
  }
  .seventh-card {
    max-height: 40%;
    position: relative;
    transition: .15s ease;
    width: 100%;
    top:0;
    overflow: hidden;
    padding: 0;
    background: white;
    @include flex-row(center,center);
    box-shadow: 0 0 15px 1px rgb(202, 202, 202);
    &:hover {
      top:-5px;;
    }
    @include xs {
      width: 90%;
      height: 200px;
    }
    @include sm {
      height: 270px;
      width: 700px;
    }
    @include md {
      min-height: 250px;
      width: 860px;
    }
    @include xl {
      height: 350px;
      width: 1079px;
    }
    img {
      object-fit: cover;
      width: 45%;
      height: 100%;
    }
    section {
      overflow: auto;
      // height: 100%;
      margin: auto;
      padding: 0.5em;
      @include xs {
        // padding: 10px;
      }
      @include sm {
        // padding: 15px;
      }
      @include md {
        overflow: hidden;
        // padding: 20px 0 0 25px;
      }
      @include xl {
        // padding: 36px 0 0 54px;
      }
      header {
        margin: 0 0 5px 0;
        @include sm {
          margin: 0 0 15px 0;
        }
        @include xl {
          margin: 0 0 30px 0;
        }
        h4 {
          margin: 0;
          @extend %Raleway-Medium;
          font-size: 100%;
          font-weight: 500;
          line-height: 1.2;
          color: $mainHeaderDark;
          span {
            @extend %Raleway-ExtraBold;
          }
          @include xs {
            font-size: 15px;
            line-height: 2;
          }
          @include sm {
            font-size: 15px;
            line-height: 2;
          }
          @include smd {
            font-size: 18px;
            line-height: 2;
          }
          @include md {
            font-size: 20px;
            line-height: 2;
          }
          @include lg {
            font-size: 26px;
          }
        }
        h5 {
          color: $textBlue;
          font-size: 100%;
          font-weight: 500;
          @extend %Lato-Medium;
          line-height: 1;
          margin: 0;
          @include xs {
            font-size: 12px;
          }
          @include smd {
            font-size: 13px;
          }
          @include md {
            font-size: 15px;
          }
          @include lg {
            font-size: 20px;
          }
        }
      }
      p {
        color: $headerTextLessDark;
        line-height: 1.27;
        margin-bottom: 15px;
        font-size: 100%;
        @extend %Lato-Italic;
        @include xs {
          margin-bottom: 15px;
          font-size: 12px;
        }
        @include sm {
          margin-bottom: 15px;
          font-size: 14px;
        }
        @include smd {
          margin-bottom: 12px;
          font-size: 14px;
        }
        @include md {
          margin-bottom: 13px;
          font-size: 16px;
        }
        @include xl {
          margin-bottom: 30px;
          line-height: 1.67;
          font-size: 18px;
        }
      }
      button {
        @extend %btn-base;
        background: white;
        border: 2px solid $textBlue;
        color: $textBlue;
        font-size: 100%;
        padding-top: 3px;
        padding-bottom: 3px;
        &:hover {
          background: $textBlue;
          color: white;
        }
        @include xs {
          font-size: 14px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
        @include sm {
          font-size: 12px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        @include md {
          font-size: 12px;
          padding-top: 12px;
          padding-bottom: 12px;
        }
        @include xl {
          font-size: 16px;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }
}

////////////////////
// Animation
///////////////////
.seventh-header,
.seventh-text,
.seventh-card {
  opacity: 0;
}
.animate-seventh-header {
  animation: fadeIn 1s ease 0.4s forwards;
}

.animate-seventh-text {
  animation: fadeIn 1s ease 0.7s forwards;
}

.animate-seventh-card {
  animation: fadeIn 1.2s ease 0.97s forwards,
             up30 .8s ease-in-out 0.97s forwards;
}
