#sixth-mainCon {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 90%;
  background-repeat: no-repeat;
  @include flex-column(flex-start, center);
  background: #1e5bff;
  h1 {
    margin: 154px 0 52px 0;
    @extend %Raleway-Bold;
    line-height: 1.29;
    font-weight: bold;
    @include lg {
      font-size: 36px;
    }
    @include xl {
      font-size: 42px;
    }
  }
  section {
    @include flex-row();
    .sixth-box {
      margin-right: 48px;
      .line {
        width: 38px;
        height: 2px;
        border: solid 2px #dce1e8;
        margin-bottom: 22px;
      }
      h5 {
        font-size: 22px;
        @extend %Raleway-Bold;
        line-height: 1.36;
      }
      div {
        line-height: 1.67;
        @extend %Lato;
        @include lg {
          font-size: 16px;
        }
        @include xl {
          font-size: 18px;
        }
      }
    }
  }
  .sixth-btn {
    @extend %btn-base;
    margin-top: 74px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-weight: bold;
    line-height: 0.88;
    font-size: 16px;
    color: #e5e5ea;
    background: none;
    outline: none;
    border: 2px solid #e5e5ea;
    border-radius: 24px;
    &:hover {
      @extend %btn-whiteInversion;
    }
  }
}

////////////////////
// Animation
///////////////////
.sixth-header, .sixth-section, .sixth-btn {
    opacity:0;
}

.animate-sixth-header {
  animation: fadeIn 1s ease 0.1s forwards;
}

.animate-boxes {
  animation: fadeIn 1s ease 0.2s forwards;
}

.animate-sixth-button{
  animation: fadeIn 1s ease 0.25s forwards;
}
