$fadeUp30AnimationDuration: 500ms;
.third-mainCon-sideImg {
  object-fit: cover;
  position: relative;
  object-position: 10% 0;
  width: 0;
  transform: translate3d(0, -50vh, 0);
  @include md {
    width: 50vw;
    height: 100vh;
  }
  @include xl {
    width: 960px;
    height: 100vh;
  }
}
.forth-mainCon-sideImg {
  object-fit: cover;
  position: relative;
  object-position: 10% 40%;
  width: 0;
  transform: translate3d(0, -50vh, 0);

  @include md {
    width: 50vw;
    height: 100vh;
  }
  @include xl {
    width: 960px;
    height: 100vh;
  }
}
#thirdImg,
#forthImg {
  will-change: transform;
}
#third-mainCon-scene,
#forth-mainCon-scene {
  right: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  > :nth-last-child(1) {
    left: auto !important;
    top: auto !important;
    align-self: center;
  }
  .thirdForth-mainCon-background {
    object-fit: contain;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(115px, 0, 0);
  }
}

#third-mainCon {
  @include flex-row(center);
  @include md {
    @include flex-row(flex-end);
  }
}
.text-mainCon {
  position: relative;
  width: 80%;
  height: 100%;
  background: white;
  @include flex-column(center, center);
  padding: 0em 1em 1em 1em;
  @include md {
    width: 50%;
    padding: 0;
  }

  header {
    margin-bottom: 1em;
    @include sm {
      margin-bottom: 3em;
    }
    @include md {
      margin-bottom: 3em;
    }
    h5 {
      line-height: 2;
      font-size: 100%;
      @extend %Lato-Black;
      transform: translate3d(0, 30px, 0);
      opacity: 0;

      span {
        @extend %Lato;
      }
    }
    h1 {
      @extend %Raleway-SemiBold;
      font: {
        weight: 600;
        size: 150%;
      }
      line-height: 1.29;
      color: $mainHeaderDark;
      transform: translate3d(0, 30px, 0);
      opacity: 0;
      @include xs() {
        font-size: 42px;
      }
      @include md() {
        font-size: 32px;
      }
      @include lg() {
        font-size: 39px;
      }
      @include xl() {
        font-size: 42px;
      }
    }
  }
  .text-subCon {
    @include flex-column();
    > div {
      width: 100%;
      @include flex-row(space-between);
      @include xs {
        width: 120%;
      }
      .box {
        width: 50%;
        margin-bottom: 2em;
        transform: translate3d(0, 30px, 0);
        opacity: 0;
        div {
          @extend %Lato-Light;
          line-height: 1;
          padding-right: 0.5em;
          margin-bottom: 0.2em;
          font: {
            weight: 300;
            size: 100%;
          }
          @include xs {
            float: left;
            font-size: 30px;
          }
          @include md {
            font-size: 40px;
          }
          @include lg {
            font-size: 40px;
          }
          @include xl {
            font-size: 60px;
          }
        }
        p {
          @extend %Lato;
          color: #717378;
          line-height: 1.5;
          margin: 0;
          font-size: 60%;
          @include xs {
            font-size: 50%;
          }
          @include md {
            font-size: 15px;
          }
          @include lg {
            font-size: 15px;
          }
          @include xl {
            font-size: 18px;
          }
        }
      }
    }
  }
  %buttonThirdForth {
    @extend %btn-base;
    padding-top: 10px;
    padding-bottom: 10px;
    background: $mainBtn;
    border-style: none;
    margin-top: 30px;
    opacity: 0;

    @include xs {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 100%;
      margin-top: 30px;
    }
    @include md {
      padding-bottom: 16px;
      padding-top: 16px;
      font-size: 16px;
      margin-top: 30px;
    }
    // @include xl {
    //     font-size: 16px;
    // }
  }
  .thirdButtonBehave {
    @extend %buttonThirdForth;
    background: $textBlue;
    &:hover {
      background: $TraderRegistration;
      cursor: pointer;
    }
  }
  .forthButtonBehave {
    @extend %buttonThirdForth;

    background: $TraderRegistration;

    &:hover {
      background: #081b4e;
      cursor: pointer;
    }
  }
}
///////////////////
//  FORTH
////////////////////

#forth-mainCon {
  @include flex-row(center);
  @include md {
    @include flex-row(flex-start);
  }
  > img {
    object-fit: cover;
    object-position: 10% 35%;
    width: 0;
    z-index: 15;
    @include md {
      width: 50vw;
      height: 100vh;
    }
    @include xl {
      width: 960px;
      height: 100vh;
    }
  }
}

//////////////////
// Animation
/////////////////
.animate-sub-headerThirdAforth {
  animation: up30 $fadeUp30AnimationDuration linear 0.3s forwards;
  animation: fadeIn $fadeUp30AnimationDuration linear 0.3s forwards;
}

.animate-main-headerThirdAforth {
  animation: up30 $fadeUp30AnimationDuration linear 0.6s forwards;
  animation: fadeIn $fadeUp30AnimationDuration linear 0.6s forwards;
}

.animate-boxThirdAforth {
  animation: up30 $fadeUp30AnimationDuration linear 0.8s forwards;
  animation: fadeIn $fadeUp30AnimationDuration linear 0.8s forwards;
}

.animate-thirdButtonAforth {
  animation: fadeIn $fadeUp30AnimationDuration linear 1.1s forwards;
}
