////////////
// bar
///////////
.navbar {
  z-index: 15550;
  margin-bottom: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background: transparent;
  border: none;
  .container {
    margin: 0;
    width: 100%;
  }
  .navbar-brand {
    width: 100;
    height: 50px;
  }
  .navbar-collapse {
    width: 100%; // the dropdown open box menu
    .dropdown-menu {
      li a {
        color: $mainHeaderDark;
      }
    } // the title of the dropdown
    > ul {
      padding-top: 0.8em;
      .startTradingNav a {
        height: 38px;
        width: 135px;
        border: 2px solid $textBlue;
        border-radius: 23px;
        color: $textBlue;
        @extend %Lato-Bold;
        @include flex-row(center, center);
        &:hover {
          background: $textBlue;
          color: white;
        }
        &[data-invers='true'] {
          color: white;
          border-color: white;
          &:hover {
            @extend %btn-whiteInversion
          }
        }
        &[data-invers='splitInvers'] {
          color: white;
          border-color: white;
          &:hover {
            color: $textBlue;
            background: white;
          }
        }
      }
      .loginNav a {
        color: $mainHeaderDark;
        width: 80px;
        height: 38px;
        font-size: 14px;
        @extend %Lato;
        @include flex-row(center, center);
        &:hover {
          font-weight: 900;
        }
        &[data-invers='true'] {
          color: white;
        }
        &[data-invers='splitInvers'] {
          color: white;
        }
      }
      li {
        #basic-nav-dropdown {
          position: relative;
          bottom: 2px;
          width: 50px;
          height: 45px;
          @include flex-row(center, flex-end);
          background: transparent !important;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
